/node_modules
/public/media
/public/images
/public/fonts
/public/css
/public/js
/public/hot
/public/sitemap.xml
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env.dusk
.env.dusk.local
/public/android-chrome-192x192.png
/public/apple-touch-icon.png
/public/favicon*
/public/mstile-*
/public/safari-pinned-tab.svg
yarn-error.log
faviconData.json
